.tabel {
    max-width: 872px;
    width: 100%;
    margin-inline: auto;
    border-collapse: collapse;
}

.tabel thead {
    background: rgb(14, 200, 111);
}

.tabel th {
    vertical-align: middle;
    /* min-width: 145px; */
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(114, 105, 105);
}

.tabel th span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tabel th svg {
    font-size: 20px;
    flex-shrink: 0;
}

tbody tr {
    height: 39px;
}

tbody tr td:first-child {
    width: 145px;
}

tbody tr td:last-child {
    width: 145px;
    color: #000;
}

tbody tr:nth-child(even) {
    background:  rgb(60, 215, 140);
    color: rgb(165, 143, 143);
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}

tbody tr:nth-child(odd) {
    background: rgb(217, 217, 217);
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}